{
  "servers": [
    {
      "host": "chat.freenode.net",
      "nick": "christel",
      "opts": {
        "channels": [
          "#riaf"
        ]
      },
      "modules": [
        "./lib/karma.js"
      ]
    }
  ]
}
